@import "compass";
@import "bootstrap";

$blue : #13a89e;
$yellow : #f6cb51;
$red : #e74c30;
$black : #363636;
$white : #fffdf9;
$secondblack : #3f4953;
$inputgrey : #f2e7da;

@font-face {
    font-family: "opensans";
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: "opensansbold";
    src: url(../fonts/OpenSans-Bold.ttf);
}

html,body{
	font-family: "opensans", "Open Sans";
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	line-height: 32px;
}

html{
	overflow-y: scroll;
}

#first{
	color: $black;
	height: 100vh;
}

#second{
	background: $white url(../img/goats2.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

span{
	text-transform: uppercase;
}

.bold{
	font-family: "opensansbold";
}

.red{
	color: $red;
}

.blue{
	color: $blue;
}

.yellow{
	color: $yellow;
}

.white{
	color: $white;
}

.cookies{
	img{
		max-width: 100%;
		height: 42vh;
	}
}

.input{
	border-radius: 5px;
	width: 406px;
	height: 82px;
	text-transform: uppercase;
	border: 0;
	margin-bottom: 2em;
	max-width: 90%;
}

.twitterinput, .dateinput{
	color: $secondblack;
	background-color: $inputgrey;
	padding-left: 1.8em;
}

.button, .submit{
	font-size: 28px;
	color: $white;
	background-color: $blue;
	border: 0;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	width: 360px;
	height: 76px;
	font-family: "opensansbold";
}

.submit{
	width: 406px;
	height: 82px;
}

.submit{
	font-size: 28px;
	max-width: 90%;
}

.button:hover, .submit:hover{
	color: $black;
	background-color: $yellow;
}

.text{
	padding-top: 8vh;
	padding-left: 5%;
	padding-right: 5%;
}

.logo{
	margin-top: 2em;
}

.givecookie{
	margin-top: .6em;
}

.twitterdiv{
	padding-top: 36vh;
}

.congratstext{
	padding-top: 20vh;
	p{
	color: $inputgrey;
	font-size: 30px;
	font-weight: 400;
	line-height: 48px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	}
}

h2{
	font-family: "opensansbold";
	text-transform: uppercase;
	color: #fff;
	font-size: 60px;
	font-weight: 700;
	line-height: 40px;
	margin-top: 24vh;
}

.congrats{
	background: $black url(../img/lastbg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.toolate{
	color: $white;
	font-size: 50px;
	line-height: 80px;
	padding-top: 40vh;
	height: 100vh;
}

.error{
	font-family: "opensansbold";
	font-size: 32px;
	line-height: 36px;
	margin: 0 auto;
	text-shadow: 1px 1px 1px $black;
}

@media(max-width: 767px){
	html, body{
		font-size: 20px;
		line-height: 30px;
	}

	.submit{
		font-size: 22px;
	}

	.congratstext p{
		font-size: 24px;
		line-height: 42px;
	}

	h2{
		font-size: 40px;
		line-height: 32px;
	}

	.input{
		height: 68px;
	}

	.cookies{
		img{
			max-height: 40vh !important;
		}
	}

	.cookies{
		img{
			max-height: 34vh !important;
		}
	}
}

@media(max-width: 500px){
	html, body{
		font-size: 20px;
		line-height: 26px;
	}

	.congratstext p{
		font-size: 20px;
		line-height: 34px;
	}

	h2{
		font-size: 32px;
		line-height: 26px;
	}

	.input{
		height: 56px;
	}
}

@media(max-height: 800px){
	html, body{
		font-size: 20px;
		line-height: 30px;
	}

	.cookies{
		img{
			max-height: 40vh !important;
		}
	}
}

@media(max-height: 680px){
	html, body{
		font-size: 16px;
		line-height: 24px;
	}

	.cookies{
		img{
			max-height: 34vh !important;
		}
	}

	.submit{
		height: 68px;
	}
}